:root {
  --point-color: #030081;
  --main-color: #C0C0C0;
  --bg-border-color-white: #fff;
  --bg-border-color-black: #000;
  --font-color-black: #000;
  --font-color-white: #fff;
  --sub-color: #57A8A8;
  --pc-header-height: 100px;
}


/* header */
#main-header {
  height: var(--pc-header-height);
}

.top-header {
  border-top: 5px solid var(--main-color);
  border-left: 5px solid var(--main-color);
  border-right: 5px solid var(--main-color);
  height: 50px;
}

.top-header img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  /* outline: 1px solid yellow; */
}

.top-header p {
  font-size: 26px;
  /* outline: 1px solid lime; */
  margin-left: 10px;
}

.top-header p a {
  color: var(--font-color-white);
}


/* gnb */
#gnb .depth1 {
  font-size: 24px;
  margin-left: 6px;
  display: flex;
  justify-content:left;
  align-items: center;
}

#gnb .depth1 li {
  margin-right: 30px;
  text-align: center;
  /* outline: 1px solid violet; */
}

#gnb .depth1 li a {
  color: var(--font-color-black);
  line-height: 50px;
  padding: 7px;
}

#gnb .depth1 a:hover {
  background: var(--point-color);
  color: var(--font-color-white);
  /* outline: 1px solid thistle; */
}

#gnb .depth2 {
  /* outline: 1px solid red; */
  position: absolute;
  background: var(--main-color);
  border-top: 2px solid #e9e9e9;
  border-left: 2px solid #e9e9e9;
  border-bottom: 2px solid var(--bg-border-color-black);
  border-right: 2px solid var(--bg-border-color-black);
  font-size: 16px;
  font-family: 'dotum';
  font-weight: 600;
  z-index: 100;
  display: none;   
}

#gnb .depth1 li:hover .depth2 {
  display: block;
}

#gnb .depth2 li {
  width: 100%;
  padding: 2px;
  text-align: left;
}

#gnb .depth2 > li > a {
  /* outline: 1px solid yellow; */
  padding-left: 30px;
  line-height: 25px;
  display: block;
}


/* 토글버튼 */
.mobile_toggleBtn img {
  /* outline: 1px solid greenyellow; */
  width: 70px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}


/* footer */
footer {
    width: 100%;
    height: 40px;
    /* border-top: 2px solid var(--bg-border-color-white); */
    background: var(--main-color);
    display: flex;
    align-items: center;
}

.btn_contact {
    width: 120px;
    height: 32px;
    margin-left: 10px;
    border-top: 2px solid var(--bg-border-color-white);
    border-left: 2px solid var(--bg-border-color-white);
    border-bottom: 2px solid var(--bg-border-color-black);
    border-right: 2px solid var(--bg-border-color-black);
    background: var(--main-color);
    cursor: pointer;
}

.btn_contact a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_contact a:hover {
  width: 96%;
  height: 88%;
  border: 2px dotted #797979;
  border-radius: 1%;
  margin-left: 2px;
}

.btn_contact a img {
    width: 21px;
    height: 21px;
    margin-right: 6px;
    line-height: 26px;
    /* outline: 1px solid red; */
}

.btn_contact a p {
    font-family: Verdana;;
    font-size: 18px;
    line-height: 26px;
    color: var(--font-color-black);
}

#email {
    font-size: 20px;
    margin-left: 12px;
}



/* section */
section .container {
  width: calc(100% - 10px);
  height: 100%;
  margin: 0 5px;
  background: var(--bg-border-color-white);
  border-top: 4px solid var(--bg-border-color-black);
  border-left: 4px solid var(--bg-border-color-black);
  border-right: 4px solid #E9E9E9;
  border-bottom: 4px solid #E9E9E9;
}



/* webpage */
#webpage .container_box {
  width: 1280px;
  /* outline: 1px solid red; */
  margin: 0 auto;
}

.info_box {
  /* outline: 1px solid red; */
  width: 100%;
  margin-top: 55px;
}

.info_header {
  width: 100%;
  height: 40px;
  background: var(--point-color);
  border-left: 3px solid #ddd;
  border-top: 3px solid var(--main-color);
  border-right: 3px solid var(--bg-border-color-black);
  color: var(--font-color-white);
}

.info_header p {
  font-family: Verdana;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
}

.info_box .flex_box {
  width: 100%;
  background: var(--main-color);
  height: 780px;
  border-left: 3px solid #ddd;
  border-right: 3px solid var(--bg-border-color-black);
  border-bottom: 3px solid var(--bg-border-color-black);
  display: flex;
  align-items: center;
}

#roche {
  width: 370px;
  height: 634px;
  margin-left: 60px;
  border: 1px solid #333;
}

#arboretum {
  width: 414px;
  height: 642px;
  margin-left: 60px;
  border: 1px solid #333;
}

#delivery {
  width: 292px;
  height: 636px;
  border: 1px solid #333;
  margin-left: 76px;
}

.flex_column img {
  width: 700px;
  height: 346px;
  margin-left: 60px;
  border: 2px solid #919191;
} 

.txt_info {
  width: 726px;
  height: 634px;
  /* outline: 1px solid red; */
  margin-left: 60px;
  align-items: center;
}

.txt_info_02 {
  width: 526px;
  height: 570px;
  /* outline: 1px solid red; */
  margin-left: 60px;
  align-items: center;
}

.txt_info_03 {
  width: 726px;
  height: 634px;
  /* outline: 1px solid red; */
  margin-left: 30px;
  align-items: center;
}

.txt_info h1, .txt_info_03 h1 {
  font-family: 'Noto Sans KR';
  font-size: 40px;
  margin-left: 20px;
}

.txt_info_02 h1 {
  font-size: 32px;
}

.txt_info_02 .title_iljin {
  font-size: 36px;
}

.txt_info ul, .txt_info_02 ul,
.txt_info_03 ul {
  display: flex;
  margin-top: 40px;
  margin-left: 25px;
  line-height: 40px;
  font-family: Verdana;
  font-size: 20px;
}

.txt_info_02 ul {
  margin-left: 0;
}

.txt_info ul:first-child {
  margin-top: 50px;
}

#tool li {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#tool li:first-child {
  margin-left: 40px;
}

#tool li img {
  width: 100%;
  height: 100%;
}

#color li, #color_iljin li,
#color_arboretum li {
  margin-right: 10px;
}

#color li:first-child, 
#color_iljin li:first-child,
#color_arboretum li:first-child {
  margin-left: 28px;
  background: #fff;
}

#color li:nth-child(2) {
  background: #E2E2E2;
}

.txt_info_02 #color li:nth-child(2) {
  background: #E4FE00;
}

#color_iljin li:nth-child(2) {
  background: #ff7f00;
}

#color_arboretum li:nth-child(2) {
  background: #00A247;
}

#color_iljin li:nth-child(3) {
  background: #0066b3;
}

#color li:nth-child(3) {
  background: #0066CC;
}

.txt_info_02 #color li:nth-child(3) {
  background-color: #A52B2A;
}

#color li:last-child, 
#color_arboretum li:last-child {
  background: #333;
}

#color_iljin li:last-child {
  background: #000;
}

.palette {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}

.iljin_composition {
  display: flex;
}

.iljin_composition > p {
  margin-top: 40px;
  font-family: Verdana;
  font-size: 20px;
}

.iljin_composition ul {
  /* outline: 1px solid yellow; */
  margin-left: 40px;
  flex-direction: column;
  font-family: 'Noto Sans KR';
  font-size: 20px;
  line-height: 20px;
}

.iljin_composition ul li {
  margin-bottom: 20px;
}

#composition li {
  margin-left: 40px;
}


#composition li p {
  font-family: 'Noto Sans KR';
  font-weight: normal;
}

.description {
  width: 700px;
  height: 180px;
  border: 2px solid #ddd;
  margin-left: 25px;
  margin-top: 40px;
}

.description_shadow {
  width: 100%;
  height: 100%;
  border: 2px solid #919191;
  margin-right: 3px;
}

.description_shadow p {
  margin-top: 24px;
  margin-left: 30px;
  font-size: 18px;
  font-family: 'Noto Sans KR';
  line-height: 30px;
}

.flex_column .description {
  margin-left: 60px;
}

.flex_column .description p {
  margin-left: 22px;
}

.description_shadow .iljin_txt {
  margin-top: 10px;
}

.btn_link {
  width: 180px;
  height: 40px;
  border-top: 2px solid var(--bg-border-color-white);
  border-left: 2px solid var(--bg-border-color-white);
  border-radius: 3%;
  float: right;
  margin-right: 5px;
  margin-top: 70px;
  background: var(--main-color);
  cursor: pointer;
}

.txt_info_02 .btn_link {
  margin-right: 90px;
  margin-top: 250px;
}

.btn_link_iljin {
  width: 180px;
  height: 40px;
  border-top: 2px solid var(--bg-border-color-white);
  border-left: 2px solid var(--bg-border-color-white);
  border-radius: 3%;
  float: right;
  margin-top: 118px;
  margin-right: 80px;
  background: var(--main-color);
  cursor: pointer;
}

.btn_link_arboretum {
  width: 180px;
  height: 40px;
  border-top: 2px solid var(--bg-border-color-white);
  border-left: 2px solid var(--bg-border-color-white);
  border-radius: 3%;
  float: right;
  margin-right: 3px;
  margin-top: 75px;
  background: var(--main-color);
  cursor: pointer;
}

.btn_link a, .btn_link_iljin a,
.btn_link_arboretum a {
  clear: both;
  width: 100%;
  font-size: 18px;
  font-family: Arial;
  color: var(--font-color-black);
  text-align: center;
}

.btn_link a:hover, .btn_link_iljin a:hover,
.btn_link_arboretum a:hover {
  display: block;
  width: 95%;
  height: 80%;
  padding: 1px 2px;
  border: 2px dotted #6b6b6b; 
  margin: 0 auto;
  border-radius: 1%;
}
